body{
    margin-top: 20px;
    background-color: rgb(239, 239, 239);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.bodyPart{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    height: 50px;
}