body{
    background-color: rgb(239, 239, 239);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.container{
    position: relative;
    overflow: hidden;
}
.header{
    width: 100%;
    float: left;
}
.bodyPart{
    width: 100%;
    float: left;
}
.footer{
    height: 50px;
}