.headerStyle {
    color: rgb(2, 0, 118);
    text-decoration: none;
  }

.listStyle{
  display: flex;
  float: left;
  list-style-type: none;
  border: 1px solid black;
  margin: 10px;
  height: 40px;
  justify-content: center;
  align-items: center;
  width: 120px;
  border-radius: 10px;
  font-size: 18px;

}
.headerStyle:hover{
  font-size: 19px;
}
.active:hover{
  font-size: 19px;
}
.active{
  color: brown;
  text-decoration: none;
}
.allWorks{
  text-align: center;
  font-size: 30px;
}
.header{
  overflow: hidden;
}