.mainBox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.homeItem{
    font-weight: bolder;
    color: rgb(0, 23, 156);
    font-size: 50px;
}
.homeItem:hover{
    color: rgb(0, 17, 112);
    cursor: pointer;
}