.input1{
    height: 50px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    float: left;
    margin-top: 20px;
    width: 40%;
    margin-left: 5%;
    margin-right: 55%;
    }